:root {
    --logo: #4d5ae5;
    --spanLogo: #2e2f42;
    --link: #2e2f42;
    --hovercolor: #404bbf;
    --addressLink: #434455;
    --sectionColor: #2e2f42;
    --footerText: #F4F4FD;
    --portfolioListBtn: #4d5ae5;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
img {
    display: block;
    /* Other styling properties for images, if needed */
  }
.nav-logo {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: .03em;
    text-transform: uppercase;
    color: var(--logo);
    text-decoration: none;
}

.logo {
    margin-right: 76px;
}

link {
    text-decoration: none;
    
}

.span-style {
    color: var(--spanLogo);
}


.list {
    list-style: none;
    
}

.nav-list {
    display: flex;
    gap: 40px;
}

.nav-link-one {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: .02em;
    color: var(--spanLogo);
    text-decoration: none;

}

.link-one {
    text-decoration: none;
    color: var(--spanLogo);
    padding: 24px 0;
}

.link-one:hover {
    color: var(--hovercolor);
}

.link-one:focus {
    color: var(--hovercolor);
}

.link-add {
    text-decoration: none;
    color: var(--addressLink);
}

.link-add:hover {
    color: var(--hovercolor);
}

.link-add:focus {
    color: var(--hovercolor);
}

.address {
    font-style: normal;

}
.address-list {
    display: flex;
    gap: 40px;
}

.section-one {
    background-color: var(--sectionColor);
    padding: 188px 0;
}

.section-header {
    font-size:56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: .02em;
    color: #FFFFFF;
    max-width: 496px;
}

.header-btn {
    background-color: #4D5AE5 ;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
}

.header-btn:hover {
    background-color: var(--hovercolor);
}
.header-btn:focus {
    background-color: var(--hovercolor);
}

.section-two {
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.heading-list {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: .02em;
    color: var(--sectionColor);
    margin-bottom: 8px;
}

.section-two-list {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.list-item {
    flex-basis: calc((100% - 3 * 24px) / 4)
}

.p-list-item {
    line-height: 1.5;
    letter-spacing: .02em;
}



.section-header-three {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: .02em;
    color: var(--sectionColor);
    text-transform: capitalize  ;
}

.section-four {
    background-color: #F4F4FD;
}

.section-header-four {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: .02em;
    text-transform: capitalize  ;
    color: var(--sectionColor);
}

.section-four-list-item {

    background-color: #FFFFFF;

}

.heading-list-four {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: .02em;
    color: var(--sectionColor);

}

.p-list-item-four {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: .02em;
}

.index-footer {
    background-color: var(--sectionColor);
}

.footer-text {
    color: var(--footerText);
    line-height: 1.5;
    letter-spacing: .02em;
}

.footer-span-style {
    color: var(--footerText);
}

/* portfolio */

.portfolio-list-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: .04em;
    color: var(--portfolioListBtn);
    cursor: pointer;
    background-color: var(--footerText);

}

.portfolio-list-btn:hover {
    color: #FFFFFF;
    background-color: var(--hovercolor);
}

.portfolio-list-btn:focus {
    color: #FFFFFF;
    background-color: var(--hovercolor);
}

.portfolio-link-lists {
    text-decoration: none;
}

.portfolio-link-lists-headingtwo {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: .02em;
    color: var(--sectionColor);
}

.portfolio-link-lists-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: .02em;
    color: var(--addressLink);
}

/* hw3 */

.header-styles {
    border: 1px solid #e7e9fc;

}

.container {
    display: flex;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.nav-container {
    display: flex;
    align-items: center;
}